#preloader{
    position: aboslute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    transition: 1s;
}

.opacity{
    opacity: 0;
}